################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PHL/.vs/PHL_INFO
/.vs
/Archive.org/PHL.ISO
